html body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.background-1 {
  position: absolute;
  right: 0;
  height: 235px;
  top: 430px;
}

.top-nav {
  display: flex;
  background: #3c3a39;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.link-name {
  color: white;
  text-decoration: none;
  margin-left: 24px;
  margin-top: 20px;
  height: 24px;
  font-size: large;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

.hamburger .bar {
  display: block;
  width: 30px;
  height: 5px;
  background-color: white;
  margin-top: 5px;
  margin-right: 24px;
  border-radius: 10px;
}

.intro {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  background-color: #1c1a19;
  height: 600px;
  align-items: flex-start;
}

.greeting {
  color: #ff6b00;
  position: relative;
  left: 24px;
  top: 90px;
  font-family: 'Crete Round', sans-serif;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.intro-name {
  color: #ff6b00;
  position: relative;
  left: 24px;
  font-family: 'Crete Round', sans-serif;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.intro-title {
  color: white;
  position: relative;
  left: 28px;
  top: -50px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.intro-description {
  color: white;
  text-align: start;
  position: relative;
  left: 28px;
  top: -60px;
  font-family: 'poppins', sans-serif;
}

.icon-list {
  display: flex;
  list-style: none;
  position: relative;
  top: -70px;
}

.intro-icon {
  display: flex;
  position: relative;
  left: -20px;
  margin-left: 20px;
}

.work-section {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.work-heading {
  display: flex;
  justify-content: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

.work-divider {
  position: relative;
  left: 25px;
  border: black 1px solid;
  width: 327px;
}

.Placeholder {
  position: relative;
  top: 20px;
  width: 327px;
  left: 25px;
}

.work-subheading {
  display: flex;
  margin-left: 25px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.work-paragraph {
  display: flex;
  margin-left: 25px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.tech-stack-list {
  display: flex;
  padding-left: 25px;
  justify-content: flex-start;
  list-style: none;
}

.tech-stack-item-1 {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border: lightgrey solid 3px;
}

.tech-stack-item-2 {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border: lightgray solid 3px;
}

.tech-stack-item-3 {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border: lightgrey solid 3px;
}

.tech-stack-item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border: lightgrey solid 3px;
}

.work-button {
  border-radius: 5px;
  margin-left: 25px;
  width: 120px;
  height: 50px;
  background-color: #ff6b00;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  border: none;
}

.project-1 {
  display: grid;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
  grid-template-rows: 100px 100px 100px 80px;
}

.project-2 {
  display: grid;
  margin-left: 25px;
  margin-right: 25px;
  grid-template-rows: 100px 100px 100px 80px;
}

.project-3 {
  display: grid;
  margin-left: 25px;
  margin-right: 25px;
  grid-template-rows: 100px 100px 100px 80px;
}

.project-4 {
  display: grid;
  margin-left: 25px;
  margin-right: 25px;
  grid-template-rows: 100px 100px 100px 80px;
}

.project-5 {
  display: grid;
  margin-left: 25px;
  margin-right: 25px;
  grid-template-rows: 100px 100px 100px 80px;
}

.project-6 {
  display: grid;
  margin-left: 25px;
  margin-right: 25px;
  grid-template-rows: 100px 100px 100px 80px;
}

.project-background {
  width: 100%;
  height: 386px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
}

.project-title {
  margin-left: 15px;
  color: white;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.project-description {
  margin-left: 15px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.project-list {
  display: flex;
  margin-left: 15px;
  list-style-type: none;
  padding: 0;
}

.project-item {
  display: flex;
  padding: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: white;
  background: rgba(255, 255, 255, 0.24);
}

.project-button {
  display: flex;
  height: 50px;
  margin-top: 6px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: white;
  background: #ff6b00;
  justify-content: center;
  align-items: center;
  border: none;
}

.About-section {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  height: 1700px;
  margin-top: 120px;
}

.about-title {
  display: flex;
  justify-content: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  color: #ff6b00;
}

.about-description {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.about-button {
  background-color: #ff6b00;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  width: fit-content;
  padding: 10px;
  margin-left: 40px;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

.about-divider {
  margin-top: 190px;
  border: white solid 1px;
  width: 320px;
  margin-left: 25px;
  margin-bottom: 100px;
}

.about-title-wrap {
  display: flex;
  justify-content: center;
  background-color: #1c1a19;
  height: 100px;
}

.about-shape-1 {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: -30px;
  background-color: #ff6b00;
  transform: rotate(45deg);
}

.about-shape-2 {
  height: 20px;
  width: 20px;
  margin-top: 7px;
  margin-right: 30px;
  margin-left: -30px;
  background-color: #ff6b00;
}

.about-shape-3 {
  height: 20px;
  width: 20px;
  margin-top: 7px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #ff6b00;
  margin-left: -20px;
}

.about-list-title {
  color: white;
  background-color: #1c1a19;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.about-list {
  background-color: #1c1a19;
  list-style: none;
  padding: 0;
}

.about-item {
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  margin-top: 30px;
}

.background-2 {
  width: 150px;
  height: 250px;
  position: absolute;
  right: 0;
  top: 4480px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.contact-form-description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 73px;
}

.first-name-label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #dbd8d7;
  margin-left: 40px;
}

.form-input {
  border: none;
  border-bottom: 2px solid #dbd8d7;
  margin-bottom: 50px;
  width: 327px;
  margin-left: 24px;
}

.email-label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #dbd8d7;
  margin-left: 40px;
}

.form-textbox {
  background-color: whitesmoke;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  width: 327px;
  height: 90px;
  padding: 12px;
  margin-left: 12px;
  border: none;
}

.form-button {
  display: flex;
  align-items: center;
  width: 90px;
  padding: 10px;
  margin-left: 142.5px;
  margin-top: 24px;
  background-color: #ff6b00;
  border: none;
  border-radius: 5px;
  color: white;
}

.contact-divider {
  border: #dbd8d7 solid 1px;
  margin-top: 124px;
  margin-bottom: 25px;
}

.contact-list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  gap: 21px;
}

.contact-item {
  display: flex;
  width: 20px;
  height: 20px;
}

.end-divider {
  width: 140px;
  background-color: black;
  border: black solid 4px;
  border-radius: 5px;
  margin-left: 117.5px;
  margin-top: 23px;
}
